main {
  /* CSS Vars */
  --box-margin: 2rem;

  padding: var(--box-margin);

  display: flex;
  flex-flow: column nowrap;
  justify-items: stretch;

  flex-grow: 1;
}

form {
  display: flex;
  flex-flow: column wrap;
}

input {
  margin-bottom: 1rem;
}

input[type="text"], textarea {
    outline: none;
    border: 2px solid black;
    border-radius: 0.35rem;

    padding: 0.5rem 1rem;

    font-family: inherit;
    font-size: 1.2rem;

    resize: none;

    background-color: white;

    transition: background-color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

label {
  display: block;

  margin-bottom: 0.5rem;
}

input[type="text"], textarea:hover {
    background-color: lightgray;
}

input[type="text"], textarea:focus {
    background-color: white;
} 

input[type="submit"], input[type="button"] {
    background-color: black;
    color: white;

    font-family: inherit;

    border-radius: 0.35rem;
    border: none;
    outline: none;

    padding: 0.5rem 0.25rem;
}

input[type="color"] {
  margin-bottom: 0;
}

input[type="button"][value="Logout"] {
  background-color: orangered;
}

input[type="submit"]:active, input[type="button"]:active {
  transform: scale(0.95);
}