.messages-display {
    margin-bottom: 0;
    padding: 4rem 3rem;
    
    font-size: 3rem;

    border-radius: 1rem;
    border: 4px solid black;

    display: flex;
    flex-flow: column wrap;

    flex: 1 1 auto;
}

.messages-display:first-of-type {
    margin-bottom: var(--box-margin);
}

.messages-display--form {
    flex-flow: row wrap;
}

.messages-display--form > input[type="submit"] {
    margin-bottom: 0;
}

.messages-display--form > textarea {
    margin-right: 1rem;

    flex: 1 1 auto;
}

.messages-display--message {
    margin-bottom: auto;
}