.messages-display {
    margin-bottom: 0;
    padding: 4rem 3rem;

    min-height: 45vh;
    
    font-size: 3rem;

    border-top: 4px solid black;

    display: flex;
    flex-flow: column wrap;

    flex: 1 1 auto;
}

.messages-display:first-of-type {
    padding-bottom: var(--box-margin);
}

.messages-display--form {
    flex-flow: row wrap;

    align-items: stretch;
}

.messages-display--form > * {
    flex: 1 1 2rem;
}

.messages-display--form > textarea {
    flex-grow: 4;
}

.messages-display--form > input[type="submit"] {
    margin-bottom: 0;
}

.messages-display--form > input[type="color"] {
    margin-bottom: 0;

    height: inherit;
}

.messages-display--form > *:not(:last-child) {
    margin-right: 0.5rem;
}

.messages-display--message {
    margin-bottom: auto;
}